.root {
    -fx-background-color: #0d1b29;
}

.button {
    -fx-padding: 5px 10px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
	-fx-background-color: #004999;
	-fx-background-radius: 10px;
}

.button:hover {
	-fx-opacity: 0.8;
}

.text-field {
    -fx-padding: 6px;
	-fx-background-color: transparent;
	-fx-text-fill: #fff;
	-fx-border-style: solid inside;
	-fx-border-width: 1px;
	-fx-border-color: #004999;
	-fx-border-radius: 5px;
}

.text-field:focused {
    -fx-border-color: #4f98e8;
}

.btn-red {
    -fx-background-color: #dc3545;
}

.link {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #004999;
    -fx-underline: true;
}

.link:hover {
    -fx-opacity: 0.8;
}

.input-error {
    -fx-text-fill: #dc3545;
}

.about {
    -fx-background-color: #070d12;
}

#welcomeText {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-text-fill: #fff;
   -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
}