.root {
    -fx-background-color: #0d1b29;
}

.button {
    -fx-padding: 5px 10px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
	-fx-background-color: #004999;
	-fx-background-radius: 10px;
}

.button:hover {
	-fx-opacity: 0.8;
}

.link {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #004999;
    -fx-underline: true;
}

.link:hover {
    -fx-opacity: 0.8;
}

.btn-red {
    -fx-background-color: #dc3545;
}

.about {
    -fx-background-color: #070d12;
}